/* this is a random comment, take note */

.box{
  border-style:solid;
  width:100px;
  height:100px;
  float:left;
  text-align:center;
  background-color:skyblue;
  vertical-align:middle;
  line-height:100px;
}

#players{
  float:left;
  
}

#board{
  float:right;
  width:350px;
  height:350px;
}

#game{
  border-style:solid;
  width:600px;
  height:400px;
  padding:50px;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
  margin-bottom:25px;
}

img {
  height: 185px;
  border-radius: 25px;
}

#gallery input[type="button"] {
  background-color:navy;
  color:white;
  font-size:bolder;
  padding: 15px;
  margin: 4px;
  border-radius: 25px
}

.container{
  margin:50px;
  background-color:lightblue;
  text-align: center;
  border-radius: 25px;
  padding: 25px;
  min-height: 500px;
}

.body{
  background-color:white;
}

#projectList{
  width: 150px;
  margin-left:auto;
  margin-right:auto;
}

#AboutMe {
  max-width: 75%;
  margin-left:auto;
  margin-right:auto;
}

a:visited{
  color:blue;
}

a:link{
  color:blue;
}

a:hover{
  color:navy;
  font-weight:bold;
}

#HangManWord {
  font-size: 75px;
}

.A-JRow {
  width: 100px;
  float: left;
}

.K-SRow {
  width: 100px;
  height: 50px;
  float: left;
}

.T-ZRow {
  width: 100px;
  height: 50px;
  float: left;
}

#hangmanGame{
 height:500px; 
}